*{
margin: 0;
padding: 0;
box-sizing: border-box;}



@font-face {
  font-family: "nav" ;
  src: url(../assets/fonts/StaytrueDemo-Italic.otf);
}

/*  */
body{
   
    display: grid;
    grid-template-rows: 22vh 45vh 45vh 8vh;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "main" "footer";
}
/* header */
header{
grid-area: header;
background-color: rgb(250, 86, 86);
height: 22vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        list-style: none;

}


header img{
    height: 15vh;
    margin: 0;

    }

.container-fluid{
    display: flex;
    flex-direction: column;
margin-bottom: 50px;

}
    
.container-fluid a{
color: white;
font-style: italic;


}

/* main */
main{
grid-area: main;
background-color: lightcoral;
height: 90vh;

}
/* Pagina index */
.indexmain{

    display: flex;
justify-content: center;
    align-items: center;
}

.indexmain p{
display: flex;
justify-content: center;
text-align: center;

}

.indexdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.indexmain img{
    width: 100vh;
    height: 70vh;
    
    }


/* Pagina Servicios */
.servicios img {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin-top: 170px;
    margin-left: 110px;
}

.links-servicios a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    }
       
    .corte{
    
    margin-left: 235px;
    }
    
    .color{
    margin-left: 365px;
    }
    
    .barba{
    
    margin-left: 365px;
    
    }

    .dropdown-menu:hover{
        background-color: rgb(128, 35, 35);
    }
    
    .dropdown-menu a:active{
        background-color: rgb(151, 36, 36);
    }
    .dropdown-menu:active{
        background-color: rgba(66, 0, 0, 0.849);
    }
    
    .dropdown-menu a{
        color: black;
    }

    .dropdown-menu{
        background-color: rgb(179, 43, 43);
    }



/* Pagina Nosotros */

.nosotros-imagen{
margin-top: 45px;
margin-left: 60px;
display: flex;
flex-direction: row;
}

.nosotros-imagen img{
width: 600px;
height: 500px;
}

.texto-nosotros{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 15px;
    background-color: rgb(248, 95, 95);
    width: 600px;
height: 500px;

}


/* PAGINA CORTES */
#carouselExample{
width: 500px;
height: 450px;
margin: 0 auto;
margin-top: 40px;


}

#carouselExample img{  
width: 500px;
height: 450px;

}

.h1-cortes{
display: flex;
justify-content: center;
text-align: center;
margin-top: 30px;
font-style: oblique;
    
}

/* PAGINA Reservar */


.main-reservar{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}

.div-reservar{
    display: flex;
    flex-direction: column;
margin: 0;
  margin-right: 150px;
    
}


.p1-reservar{
background-color: #ffffff;
width: 600px;
height: 100px;
    
}

.p2-reservar{
    background-color: #ffffff;
    width: 600px;
    height: 100px;
}

.p3-reservar{
    background-color: #ffffff;
    width: 600px;
    height: 100px;
}

.p4-reservar{
    background-color: #ffffff;
    width: 600px;
height: 100px;
}

.main-reservar iframe{
display: flex;
flex-direction: column;

}






/* footer */
footer{
grid-area: footer;
background-color: rgb(248, 83, 83);
height: 8vh;

}

.footerr{
width: 100%;
height: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
}



.igicon {
width: 20px;
height: 30px;



}


.wppicon{
    width: 20px;
    height: 30px;
    
}




