* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "nav";
  src: url(../assets/fonts/Cream\ Cake.otf);
}
/*  */
body {
  display: grid;
  grid-template-rows: 0.3fr 1.5fr 1.5fr 0.3fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "main" "footer";
}

/* main */
main {
  grid-area: main;
  background-color: lightcoral;
  height: 3fr;
}

/* header */
header {
  grid-area: header;
  background-color: rgb(250, 86, 86);
  height: 0.3fr;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  list-style: none;
}

.nav-link {
  width: 100px;
  font-family: "nav";
  font-size: 25px;
}

header img {
  height: 13vh;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container-fluid a {
  color: white;
  font-family: "nav";
  font-size: 25px;
}

.dropdown-menu:hover {
  background-color: rgb(128, 35, 35);
}

.dropdown-menu a:active {
  background-color: rgb(151, 36, 36);
}

.dropdown-menu:active {
  background-color: rgba(66, 0, 0, 0.849);
}

.dropdown-menu a {
  color: black;
}

.dropdown-menu {
  background-color: rgb(179, 43, 43);
}

/* footer */
footer {
  grid-area: footer;
  background-color: rgb(248, 83, 83);
  height: 0.3fr;
}

.footerr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-unstyled a {
  color: black;
}

.igicon {
  width: 25px;
  height: 35px;
}

.wppicon {
  width: 25px;
  height: 35px;
}

/* Pagina index */
.index-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.index-main img {
  width: 1000px;
  height: 500px;
}

.h1-servicios {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.promo img {
  width: 450px;
  height: 450px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.ubicaciones-page3 {
  border-bottom: 3px solid black;
  padding: 10px;
  background-color: rgb(252, 76, 76);
  margin: 10px auto;
  max-width: 350px;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Pagina Servicios */
.servicios img {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin-top: 100px;
  margin-left: 105px;
  border-radius: 30px;
  box-shadow: 3px 4px 6px black;
}

.h1-servicios {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.links-servicios a {
  color: white;
}

.links-servicios {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.links-servicios .barba {
  margin-right: 40px;
}
.links-servicios .corte {
  margin-left: 40px;
}

.servicios a {
  display: none;
}

.test-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(250, 86, 86);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  text-align: left;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#result {
  margin-top: 30px;
}

/* Pagina Nosotros */
.h1-nosotros {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.main-nosotros {
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}
.main-nosotros div {
  margin: 0;
}

.todas-las-cards {
  margin: 0;
}
.todas-las-cards .card {
  margin: 0;
}
.todas-las-cards .card1, .todas-las-cards .card2, .todas-las-cards .card3, .todas-las-cards .card4, .todas-las-cards .card5 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.todas-las-cards .card1 {
  margin-right: 400px;
}
.todas-las-cards .card2 {
  margin-left: 450px;
}
.todas-las-cards .card3 {
  margin-right: 400px;
}
.todas-las-cards .card4 {
  margin-left: 450px;
}
.todas-las-cards .card5 {
  margin-right: 400px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.todas-las-cards section {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.faq-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.faq-item {
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

/* PAGINA CORTES */
#carouselExample {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  margin-top: 40px;
}
#carouselExample img {
  width: 500px;
  height: 450px;
}

.h1-cortes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-style: oblique;
}

.galeria {
  margin-right: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.foto {
  height: auto;
  background-color: rgb(185, 82, 82);
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.foto img {
  max-width: 65%;
  height: auto;
  display: block;
}

/* PAGINA Reservar */
.main-reservar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-reservar iframe {
  display: flex;
  flex-direction: column;
}

.containerr {
  max-width: 400px;
  margin: 0;
  margin-right: 100px;
}

.grupo-form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type=text],
input[type=email],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  height: 36px;
}

button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(252, 76, 76);
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: white;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ff9999;
}

.h1-producto {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-producto {
  height: auto;
  background-color: rgb(172, 80, 80);
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px dashed white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin: 10px 60px;
}

.div-titulo {
  font-size: 22px;
  text-align: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.boton-precio {
  padding: 10px;
  background-color: rgb(252, 76, 76);
  font-weight: bold;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  margin-top: 15px;
  margin-bottom: 5px;
  transition: background-color 0.8s ease;
  transform: 0.2s ease;
}

.producto-img {
  width: 200px;
  height: 250px;
}

@media screen and (max-width: 1800px) {
  .servicios img {
    width: 300px;
    height: 250px;
    margin-left: 220px;
  }
}
@media screen and (max-width: 1600px) {
  .servicios img {
    width: 300px;
    height: 250px;
    margin-left: 170px;
  }
  .corte {
    margin-left: 75px;
  }
  .barba {
    margin-right: 75px;
  }
}
@media screen and (max-width: 1400px) {
  .servicios img {
    width: 250px;
    height: 200px;
    margin-left: 160px;
  }
}
@media screen and (max-width: 1368px) {
  .servicios img {
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-left: 105px;
  }
  .links-servicios a {
    color: #ffffff;
  }
  .links-servicios {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .barba {
    margin-right: 40px;
  }
  .corte {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1268px) {
  .servicios img {
    width: 250px;
    height: 200px;
    margin-left: 125px;
  }
  .corte {
    margin-left: 60px;
  }
  .barba {
    margin-right: 60px;
  }
}
/* mediaq desktop */
@media screen and (max-width: 1200px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .servicios img {
    width: 250px;
    height: 200px;
    margin-left: 110px;
  }
  .galeria {
    margin-right: 25px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    column-gap: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1118px) {
  .servicios img {
    width: 230px;
    height: 180px;
    margin-left: 100px;
    margin-top: 110px;
  }
}
@media screen and (max-width: 1100px) {
  main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  footer {
    grid-area: footer;
    height: 0.3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
  .nosotros-imagen {
    margin: 0;
    margin-top: 150px;
    margin-left: 50px;
  }
  .nosotros-imagen img {
    height: 450px;
    width: 500px;
  }
  .texto-nosotros {
    height: 450px;
    width: 500px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .servicios img {
    width: 230px;
    height: 180px;
    margin-left: 80px;
    margin-top: 130px;
  }
  .corte {
    margin-left: 30px;
  }
  .barba {
    margin-right: 30px;
  }
}
@media screen and (max-width: 960px) {
  .index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  .index-main img {
    width: 700px;
    height: 350px;
  }
  .boton {
    top: 108%;
  }
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .servicios img {
    width: 250px;
    height: 150px;
    margin: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .servicios a {
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
  }
  .links-servicios {
    display: none;
  }
  main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  footer {
    grid-area: footer;
    height: 0.3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
  .nosotros-imagen {
    margin: 0;
    margin-top: 150px;
    margin-left: 25px;
  }
  .nosotros-imagen img {
    height: 400px;
    width: 450px;
  }
  .texto-nosotros {
    height: 400px;
    width: 450px;
    font-size: 12px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 20px;
  }
  .main-reservar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-reservar iframe {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    height: 250px;
  }
  main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  footer {
    grid-area: footer;
    height: 0.3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
}
/* mediaq para tablet */
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 15px;
  }
  .container-fluid {
    margin-left: 10px;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .servicios img {
    width: 200px;
    height: 150px;
    margin: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .servicios a {
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
  }
  .links-servicios {
    display: none;
  }
  main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  footer {
    grid-area: footer;
    height: 0.3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
  .todas-las-cards {
    margin: 0;
  }
  .todas-las-cards .card {
    margin: 0;
  }
  .todas-las-cards .card1, .todas-las-cards .card2, .todas-las-cards .card3, .todas-las-cards .card4, .todas-las-cards .card5 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .todas-las-cards .card1 {
    margin-right: 0px;
  }
  .todas-las-cards .card2 {
    margin-left: 0px;
  }
  .todas-las-cards .card3 {
    margin-right: 0px;
  }
  .todas-las-cards .card4 {
    margin-left: 0px;
  }
  .todas-las-cards .card5 {
    margin-right: 0px;
  }
}
@media screen and (max-width: 700px) {
  .index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  .index-main img {
    width: 550px;
    height: 300px;
  }
  .boton {
    top: 108%;
  }
}
/* mediaq para celular */
@media screen and (max-width: 480px) {
  /* responsive index */
  .promo img {
    width: 300px;
    height: 300px;
  }
  /* responsive servicios
   */
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .servicios img {
    width: 190px;
    height: 140px;
    margin: 0;
    margin-bottom: 10px;
  }
  .links-servicios a {
    display: none;
    margin: 0px;
  }
  main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  footer {
    grid-area: footer;
    height: 0.3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
  .servicios a {
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
  }
  /* pagina cortes */
  #carouselExample {
    margin-top: 0;
    width: 430px;
    height: 380px;
  }
  #carouselExample img {
    width: 430px;
    height: 380px;
  }
  .h1-cortes {
    margin-bottom: 130px;
    margin-top: 20px;
  }
  .index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  .index-main img {
    width: 400px;
    height: 200px;
  }
  .boton {
    top: 88%;
  }
}
@media screen and (max-width: 400px) {
  /* pagina cortes */
  #carouselExample {
    margin-top: 0;
    width: 330px;
    height: 280px;
  }
  #carouselExample img {
    width: 330px;
    height: 280px;
  }
  .h1-cortes {
    margin-top: 20px;
    margin-bottom: 130px;
  }
}
@media screen and (max-width: 320px) {
  #carouselExample {
    margin-top: 0;
    width: 300px;
    height: 250px;
  }
  #carouselExample img {
    width: 300px;
    height: 250px;
  }
  .h1-cortes {
    margin-top: 20px;
    margin-bottom: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
