@media screen and (max-width: 1800px) {
  .servicios img {
    width: 300px;
    height: 250px;
    margin-left: 220px;}
    

}
@media screen and (max-width: 1600px) {
    .servicios img {
      width: 300px;
      height: 250px;
      margin-left: 170px;
    }
  
    .corte {
      margin-left: 75px;
    }
  
    .barba {
      margin-right: 75px;
    }
  }
  
  @media screen and (max-width: 1400px) {
    .servicios img {
      width: 250px;
      height: 200px;
      margin-left: 160px;
    }
  }
  
  @media screen and (max-width: 1368px) {
    .servicios img {
      width: 300px;
      height: 250px;
      margin-top: 100px;
      margin-left: 105px;
    }
  
    .links-servicios a {
      color: #ffffff;
    }
  
    .links-servicios {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
  
    .barba {
      margin-right: 40px;
    }
  
    .corte {
      margin-left: 40px;
    }
  }
  
  @media screen and (max-width: 1268px) {
    .servicios img {
      width: 250px;
      height: 200px;
      margin-left: 125px;
    }
  
    .corte {
      margin-left: 60px;
    }
  
    .barba {
      margin-right: 60px;
    }
  }
  
  /* mediaq desktop */
  @media screen and (max-width: 1200px) {
    .navbar-brand {
      margin-left: 20px;
    }
  
    .servicios img {
      width: 250px;
      height: 200px;
      margin-left: 110px;
    }

        
.galeria {
  margin-right: 25px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  column-gap: 20px;
  margin-left: 20px;
}

  }
  
  @media screen and (max-width: 1118px) {
    .servicios img {
      width: 230px;
      height: 180px;
      margin-left: 100px;
      margin-top: 110px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    main {
      grid-area: main;
      max-height: 3fr;
      overflow: auto;
      margin: 0;
    }
  
    footer {
      grid-area: footer;
      height: .3fr;
      grid-area: footer;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }
  
    .nosotros-imagen {
      margin: 0;
      margin-top: 150px;
      margin-left: 50px;
    }
  
    .nosotros-imagen img {
      height: 450px;
      width: 500px;
    }
  
    .texto-nosotros {
      height: 450px;
      width: 500px;
      font-size: 13px;
    }
  }

@media screen and (max-width: 1024px){


    
    .servicios img{
        width: 230px;
        height: 180px;
    margin-left: 80px;
    margin-top: 130px;
    }
        
        .corte{
            margin-left: 30px;
        }
        .barba{
            margin-right: 30px;
        }


}

@media screen and (max-width: 960px){
    
    .index-main {
        @include flex;
        margin-top: 200px;
    
        img {
            width: 700px;
            height: 350px;
        }
    }
    .boton {
        
        top: 108%;
        
    }
    

    .servicios{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
    }

    .servicios img{
        width: 250px;
        height: 150px;
        margin: 0;
        margin-top: 40px;
      display: flex;
      flex-direction: column;
        }

        .servicios a{

            
            list-style: none;
color: white;
text-decoration: none;
display: flex;
        }
        .links-servicios{
            display: none;
        }
        main {
            grid-area: main;
            max-height: 3fr;
            overflow: auto;
            margin: 0;
          }
          
          footer {
            grid-area: footer;
            height: .3fr;
            grid-area: footer;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
}        
       
.nosotros-imagen{
    margin: 0;
    margin-top: 150px;
    margin-left: 25px;
    }
    
    .nosotros-imagen img{
    height: 400px;
    width: 450px;
    
    }
    
    .texto-nosotros{
        height: 400px;
        width: 450px;
        font-size:12px;
        
    
    
    }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 20px;
}

.main-reservar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-reservar iframe{

    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    height: 250px;
}

main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
  }
  
  footer {
    grid-area: footer;
    height: .3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}        

    
}

/* mediaq para tablet */
@media screen and (max-width: 768px){

   





.navbar-brand{
margin-left: 15px;
    }
.container-fluid{
margin-left: 10px;
   }
   .navbar{
    margin-bottom: 20px;
   }
    

    .servicios{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
    }

    .servicios img{
        width: 200px;
        height: 150px;
        margin: 0;
        margin-top: 40px;
      display: flex;
      flex-direction: column;
        }

        .servicios a{

            
            list-style: none;
color: $color-white;
text-decoration: none;
display: flex;
        }
        .links-servicios{
            display: none;
        }
        main {
            grid-area: main;
            max-height: 3fr;
            overflow: auto;
            margin: 0;
          }
          
          footer {
            grid-area: footer;
            height: .3fr;
            grid-area: footer;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
}        
       
.todas-las-cards {
    margin: 0;

    .card {
        margin: 0;

        &1,
        &2,
        &3,
        &4,
        &5 {
            margin: 0;
            @include flex;
            flex-direction: column;
            margin-bottom: 50px;
        }

        &1 {
            margin-right: 0px;
        }

        &2 {
            margin-left: 0px;
        }

        &3 {
            margin-right: 0px;
        }

        &4 {
            margin-left: 0px;
        }

        &5 {
            margin-right: 0px;
        }
    }
}  
   
  }


  @media screen and (max-width: 700px){
   
        
    .index-main {
        @include flex;
        margin-top: 200px;
    
        img {
            width: 550px;
            height: 300px;
        }
    }
    .boton {
        
        top: 108%;
        
    }
    

  }

  /* mediaq para celular */

@media screen and (max-width: 480px){
    /* responsive index */
    .promo img{
        width: 300px;
        height: 300px;
        
        }
       
            
/* responsive servicios
 */
   .servicios{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;


   }         

   .servicios img{
    width: 190px;
    height: 140px;
    margin: 0;
    margin-bottom: 10px;
    
   

   }         

.links-servicios a{
display: none;

margin: 0px;

 }

 main {
    grid-area: main;
    max-height: 3fr;
    overflow: auto;
    margin: 0;
    
  }
  
  footer {
    grid-area: footer;
    height: .3fr;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;

    
  }
  .servicios a{
list-style: none;
color: $color-white;
text-decoration: none;
display: flex;

  }

  
    /* pagina cortes */

    #carouselExample{
        
margin-top: 0;
        width: 430px;
        height: 380px;
}

#carouselExample img{
   
    width: 430px;
        height: 380px;
}

.h1-cortes{
margin-bottom: 130px;
    margin-top: 20px;
}
.index-main {
    @include flex;
    margin-top: 200px;

    img {
        width: 400px;
        height: 200px;
    }
}
.boton {
    top: 88%;
    
}
}
@media screen and (max-width: 400px){
/* pagina cortes */
#carouselExample {
        
margin-top: 0;
        width: 330px;
        height: 280px;
}

#carouselExample img{
    
    width: 330px;
    height: 280px;

}
.h1-cortes{
margin-top: 20px;
margin-bottom: 130px;
}

}


@media screen and (max-width: 320px){
#carouselExample {
    margin-top: 0;
    width: 300px;
    height: 250px;
                }
#carouselExample img{
    width: 300px;
    height: 250px;
                
                }
                
    .h1-cortes{
      margin-top: 20px;
      margin-bottom: 130px;
    }
}

