@mixin flex{
display: flex;
justify-content: center;
align-items: center;

}

@mixin flex-texto{
    display: flex;
    justify-content: center;
    text-align: center;

}

@mixin tamaño-iconos{
    width: 25px;
    height: 35px;


}