/* PAGINA CORTES */
#carouselExample{
    width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-top: 40px;
    
    
    }
    
    #carouselExample img{  
    width: 500px;
    height: 450px;
    
    }
    
    .h1-cortes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-style: oblique;
        
    }