 /* Pagina index */
 
 .index-main {
    @include flex;
    margin-top: 70px;

    img {
        width: 1000px;
        height: 500px;
    }
}

.boton {
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: $color-red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-red-boton;
    }
}











