 /* Pagina index */
 
 .index-main {
    @include flex;
    margin-top: 70px;

    img {
        width: 1000px;
        height: 500px;
    }

    
    
}
.h1-servicios{
    @include flex-texto;
    margin-top: 50px;}

.promo{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 40px;
img{
    width: 450px;
    height: 450px;
    
    }

}



   


.row {
   
    display: flex;
    flex-wrap: wrap;
    
}

.ubicaciones-page3 {
    border-bottom: 3px solid $color-black;
    padding: 10px;
    background-color: $color-red-boton;
    margin: 10px auto;
    max-width: 350px;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;}











