/* Pagina Nosotros */
    .h1-nosotros{
display: flex;
justify-content: center;
text-align: center;
margin-bottom: 30px;
    }

.main-nosotros{


    max-height: 180vh; 
    overflow-y: auto; 
    padding: 20px; 

    div{
        margin: 0;
    }

}



.todas-las-cards {
    margin: 0;

    .card {
        margin: 0;

        &1,
        &2,
        &3,
        &4,
        &5 {
            margin: 0;
            @include flex;
            flex-direction: column;
            margin-bottom: 50px;
        }

        &1 {
            margin-right: 400px;
        }

        &2 {
            margin-left: 450px;
        }

        &3 {
            margin-right: 400px;
        }

        &4 {
            margin-left: 450px;
        }

        &5 {
            margin-right: 400px;
        }
    }
}

@keyframes show{
from{
opacity: 0;
scale: 25%;


}

to{

    opacity: 1;
    scale: 100%; 
}

}


    .todas-las-cards section{
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;} 

        .faq-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        h2 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        
        .faq-item {
            text-align: left;
            margin-bottom: 20px;
        }
        
        h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 1em;
            line-height: 1.6;
        }