

.div-producto{
height: auto;
    background-color: rgb(172, 80, 80);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 2px dashed $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;}
.div-titulo{
    font-size: 22px;
    text-align: center;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.boton-precio{

    padding: 10px;
    background-color: $color-red-boton;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 1px solid $color-white;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: background-color 0.8s ease;
    transform: 0.2s ease;

}