/* PAGINA Reservar */
    
    
.main-reservar{
    @include flex;
    flex-direction: row;
    
    
    iframe{
        display: flex;
        flex-direction: column;
        
        }
    }
    
    
    
    
    .containerr {
        max-width: 400px;
        margin: 0 ;
        margin-right: 100px;
       
    }

    .grupo-form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    select {
        height: 36px;
    }

    button {
        background-color: $color-red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: $color-red-boton;
    }
    
    table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto;
        background-color: $color-white;
       
        
    }
    
    th, td {
        border: 1px solid $color-black;
        padding: 8px;
        text-align: center;
    }
    
    th {
        background-color: #ff9999;
    }

  