/* PAGINA Reservar */
    
    
.main-reservar{
    @include flex;
    flex-direction: row;
    
    
    iframe{
        display: flex;
        flex-direction: column;
        
        }
    }
    
    .div-reservar{
        display: flex;
        flex-direction: column;
    margin: 0;
      margin-right: 150px;
        
    }
    
    
   
    

    .main-reservar iframe{
    display: flex;
    flex-direction: column;
    
    }
    
    
    .container {
        max-width: 400px;
        margin: 0 ;
        margin-right: 100px;
       
    }

    .grupo-form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    select {
        height: 36px;
    }

    button {
        background-color: $color-red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: $color-red-boton;
    }
    